@use "../../variables";

.modal-content {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(111, 99, 86, 0.8);

  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 55px;
    font-weight: 800;
    cursor: pointer;
  }

  &__image {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
      @media screen and (max-width: 768px) {
        width: 90%;
        height: 80%;
      }
    }
  }
}
