@use "../../variables";

.contact-infos {
  display: flex;
  align-items: center;
  gap: 20px;
  color: variables.$brown;
  font-size: 18px;
  line-height: 25px;
  // font-family: variables.$raleway;
  @media screen and (max-width: 768px) {
    width: 70%;
  }
}
