@use "../../variables";

.experiences {
  width: 100%;
  height: auto;
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse !important;
    align-items: center;
  }

  &__card {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }

    &__tasks {
      width: 383px;
      height: 398px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      background-color: variables.$white;
      padding: 20px;
      // font-family: variables.$raleway;
      gap: 15px;
      color: variables.$brown;
      letter-spacing: 1px;
      font-size: 17px;
      line-height: 26px;
      overflow-y: scroll;
      border-bottom: 4px solid variables.$light_brown;
      box-shadow: 4px -4px 12px -2px rgba(58, 58, 58, 0.75);

      @include variables.scrollbarY;
    }

    @media screen and (max-width: 768px) {
      padding: 20px 0 20px 20px;
    }
  }

  &__containe-line {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &__contain {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      position: relative;

      &__line {
        width: 2px;
        height: 100%;
        background-color: variables.$light;
      }

      &__circle {
        position: absolute;
        width: 65px;
        height: 67px;
        background-color: variables.$white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid variables.$light_brown;
      }
    }
  }

  &__name {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: variables.$white;
    padding-top: 20px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &__details {
      width: 383px;
      height: 398px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
        gap: 10px;
        align-items: flex-start;
        padding: 20px 0 20px 20px;
      }

      h1,
      h2 {
        font-size: 18px;
        line-height: 25px;
        // font-family: variables.$raleway;
        letter-spacing: 1px;
        font-weight: 300;
        @media screen and (max-width: 768px) {
          font-size: 17px;
        }
      }
    }
  }
}
