@use "../../variables";

@keyframes bounceY {
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(10px);
  }
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 768px) {
    height: auto;
    padding-top: 105px;
  }

  &__informations {
    height: 100%;
    width: 100%;
    background-color: variables.$light;
    @media screen and (max-width: 768px) {
      height: 50%;
    }
  }

  &__experiences {
    height: 100vh;
    width: 100%;
    background-color: variables.$gray;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    position: relative;
    @media screen and (max-width: 768px) {
      height: 50%;
    }
    &__down {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 100px;
      animation: bounceY 2s infinite;
      @media screen and (max-width: 768px) {
        top: 25px;
        left: 45%;
      }
    }
  }
}
