@use "../../variables";

.container_about {
  background-color: variables.$white;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  //Format Mobile
  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
  }

  &__content {
    display: flex;
    height: 100%;
    width: 70%;
    padding: 0 40px;
    gap: 40px;

    //Format tablette
    @media screen and ((min-width: 768px) and (max-width: 991px)) {
      padding: 20px 20px 20px 40px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    //Format Mobile
    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 40px 20px;
      height: 70%;
      width: 100%;
      gap: 0;
    }

    &__photo {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media screen and ((min-width: 768px) and (max-width: 991px)) {
        justify-content: flex-start;
      }
      //Format Mobile
      @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
      }

      img {
        width: 246px;
        height: 328px;
        @media screen and ((min-width: 768px) and (max-width: 991px)) {
          width: 170px;
          height: 210px;
        }
        //Format Mobile
        @media screen and (max-width: 768px) {
          width: 207px;
          height: 278px;
        }
      }
      //Format Tablette
      @media screen and ((min-width: 768px) and (max-width: 991px)) {
        width: 100%;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      width: 60%;
      height: 100%;
      color: variables.$brown;

      a {
        text-decoration: none;
      }

      //Format Tablette
      @media screen and ((min-width: 768px) and (max-width: 991px)) {
        width: 100%;
        justify-content: flex-start;
        padding: 0;
        gap: 10px;
      }
      //Format Mobile
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
      }

      &__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        @media screen and ((min-width: 768px) and (max-width: 991px)) {
          justify-content: flex-start;
        }
        //Format Mobile
        @media screen and (max-width: 768px) {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }

  &__img {
    height: 100%;
    width: 30%;
    object-fit: cover;
    display: flex;
    //Format Mobile
    @media screen and (max-width: 768px) {
      justify-content: center;
      height: 30%;
      width: 100%;
      position: relative;
    }

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      //Format Mobile
      @media screen and (max-width: 768px) {
        height: 139px;
        width: 334px;
        object-fit: cover;
      }
    }
  }
  &__line {
    width: 145px;
    position: absolute;
    bottom: 75px;
    left: 50%;
    border: 1px solid variables.$gray;
    transform: rotate(90deg);
    transform-origin: left;
    @media screen and ((min-width: 768px) and (max-width: 991px)) {
      display: none;
    }
    //Format Mobile
    @media screen and (max-width: 768px) {
      width: 89px;
      position: absolute;
      left: 50%;
      bottom: 45px;
      border: 1px solid variables.$gray;
      transform: rotate(90deg);
    }
  }
}
