@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

$raleway: "Raleway";
$yeseva: "Yeseva One";

$white: #ffffff;
$light: #ebe3de;
$gray: #6f6356;
$brown: #9f6449;
$light_brown: #ad9071;

@mixin button {
  width: 172px;
  height: 53px;
  padding: 12px 24px;
  background-color: $brown;
  color: $white;
  font-family: $raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $gray;
    opacity: 0.9;
    color: $white;
    cursor: pointer;
  }
}
