@use "../../../../variables";

.container-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: variables.$light;
  border-bottom: 2px dotted variables.$brown;
  padding-top: 105px;

  &__header {
    width: 100%;
    height: 20%;
    position: relative;

    h1 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // font-family: variables.$yeseva;
      color: variables.$brown;
      font-size: 55px;
      line-height: 55px;
      letter-spacing: 1px;
      font-weight: 400;
      @media screen and (max-width: 768px) {
        font-size: 34px;
      }
    }

    &__content {
      position: absolute;
      top: 80px;
      left: 60px;
      display: flex;
      gap: 20px;
      @media screen and (max-width: 768px) {
        left: 50%;
        top: 100px;
      }

      &__back {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;

        button {
          // font-family: variables.$raleway;
          color: variables.$brown;
          font-size: 18px;
          text-transform: uppercase;
          line-height: 26px;
          letter-spacing: 1px;
          font-weight: 600;
          background: transparent;
          border: none;
          cursor: pointer;
          @media screen and (max-width: 768px) {
            font-size: 17px;
          }
        }
        span {
          width: 53px;
          background-color: variables.$brown;
          height: 2px;
        }
      }
    }
  }

  &__content-img {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px) {
      padding-top: 30px;
    }

    &__contain {
      width: 70%;
      height: 90%;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;
      overflow-y: scroll;
      @include variables.scrollbarY;

      @media screen and (max-width: 768px) {
        overflow-x: hidden;
      }

      &__images {
        img {
          object-fit: cover;
          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }
  }
}
