@use "../../variables";

.navbar {
  width: 100vw;
  height: 105px;
  background-color: variables.$white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  position: relative;
  z-index: 2;

  @media screen and (max-width: 768px) {
    position: fixed;
  }

  &__links {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;

    a {
      text-decoration: none;
      // font-family: variables.$raleway;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: variables.$brown;

      &:hover {
        color: variables.$gray;
        opacity: 0.9;
      }

      &:last-child {
        @include variables.button;
      }
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: fixed;
      top: 105px;
      right: -768px;
      width: 100%;
      height: 100vh;
      background-color: variables.$white;
      transition: 1s ease-in-out;

      &__navbar_active {
        right: 0px;
      }

      &__isActive {
        color: variables.$gray;
      }
    }
  }

  &__buttons {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
