@use "../../../../variables";

.container-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: variables.$light;
  border-bottom: 2px dotted variables.$brown;

  &__header {
    width: 100%;
    height: 20%;
    position: relative;
    h2 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: variables.$yeseva;
      color: variables.$brown;
      font-size: 55px;
      line-height: 55px;
      letter-spacing: 1px;
      font-weight: 400;
    }

    &__content {
      position: absolute;
      top: 80px;
      left: 60px;
      display: flex;
      gap: 20px;

      &__back {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;

        p {
          font-family: variables.$raleway;
          color: variables.$brown;
          font-size: 18px;
          text-transform: uppercase;
          line-height: 26px;
          letter-spacing: 1px;
          font-weight: 600;
        }
        span {
          width: 53px;
          background-color: variables.$brown;
          height: 2px;
        }
      }
    }
  }

  &__content-img {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;

    &__contain {
      width: 70%;
      height: 90%;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        background: transparent;
      }

      &__images {
        img {
          object-fit: cover;
          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }
  }
}
