@use "../../variables";

@keyframes bounceY {
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(10px);
  }
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 150px 0 150px;
  gap: 20px;
  background: variables.$light;
  @media screen and ((min-width: 768px) and (max-width: 991px)) {
    padding: 20px 30px 0 30px;
  }
  @media screen and (max-width: 768px) {
    padding: 10px 100px 0 100px;
  }

  &__container {
    width: 100%;
    height: 90%;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      width: 20%;
      @media screen and (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      img {
        width: 135px;
        height: 144px;
      }
    }

    &__text {
      display: flex;
      width: 40%;
      flex-direction: column;
      gap: 20px;
      color: variables.$gray;
      font-family: variables.$raleway;
      padding-top: 20px;
      @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
      h1 {
        font-size: 19px;
        line-height: 19px;
        letter-spacing: 1px;
        font-weight: 600;
      }
      h2 {
        font-size: 15px;
        line-height: 19px;
        font-weight: 300;
        text-align: left;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }

    &__follow {
      display: flex;
      flex-direction: column;
      width: 20%;
      gap: 15px;
      padding-top: 20px;
      @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
      h3 {
        font-family: variables.$raleway;
        color: variables.$gray;
        font-size: 19px;
        line-height: 19px;
        letter-spacing: 1px;
        font-weight: 600;
      }

      &__img {
        object-fit: cover;
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        transition: transform 0.4s;
        @media screen and (max-width: 768px) {
          width: 100%;
          justify-content: center;
        }
        img {
          width: 35px;
          height: 36px;
          cursor: pointer;

          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }

    &__arrow {
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 20px;
      align-items: center;
      background: transparent;
      border: none;
      outline: none;
      img {
        width: 35px;
        height: 36px;
        cursor: pointer;
        animation: bounceY 2s infinite;
      }
      p {
        font-family: variables.$raleway;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        color: variables.$brown;
      }
    }
  }

  &__mentions {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-family: variables.$raleway;
    font-size: 9px;
    line-height: 15px;
    font-weight: 300;
    gap: 20px;
    color: variables.$gray;
  }
}
